img {width:35%;
  height:35%;}
  body {background-color: skyblue;}
  h1 {font-weight: bolder; font-family: fantasy;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    color: blue;}
h5 {font-size: 20px;
text-align: center;}
